.List {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 20px;
}

.Item {
    font-family: 'Trebuchet MS', 'Lucida Sans';
    padding: 10px 40px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-left: 6px solid bisque;
    border-right: 6px solid bisque;
    box-shadow: 2px -2px 5px 0 rgba(0, 0, 0, 0.1),
        -2px -2px 5px 0 rgba(0, 0, 0, 0.1), 2px 2px 5px 0 rgba(0, 0, 0, 0.1),
        -2px 2px 5px 0 rgba(0, 0, 0, 0.1);
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s all linear;
}