.Title {
    text-align: center;
    font-size: 30px;
    margin-bottom: 40px;
}

.SectionDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 34px;
}